<section id="footer" class="bg-footer footer text-center">
  <p class="copyright">2020 | Página web desarrollada por Gonzalo Lobos.</p>
  <br>
  <a href=#nav class="bck-to-top scroll"><p class="bck-to-top-text">Volver Arriba</p> </a>


</section>


</body>



<!-- lightbox js -->
<script src="dist/js/lightbox-plus-jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="dist/js/scroll.js"></script>


</html>
