<%- include("partials/header"); -%>

  <div class="text-center cuerpo">

    <form class="form-signin" action="/Newsletter" method="post">
  <h3 class="mb-2 font-weight-normal">Suscríbete a mi Newsletter </h3><h4 class="mb-3">y sigamos en contacto</h4>
  <input type="text" id="nombre" name="nombre" class="form-control top" placeholder="Nombre" required autofocus>
  <input type="text" name="apellido" class="form-control middle" placeholder="Apellido" required>
  <input type="email" name="email" class="form-control bottom" placeholder="Email" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Suscríbete!</button>
</form>

</div>
</body>
</html>

<form class="" action="index.html" method="post">

</form>


<%- include("partials/footer"); -%>
