

  h1,h3{
    color:#444;
  }

  h2{
    color:#999;
  }
  h4{
      color:#666;
  }
  p,a,li{
color:#888;
font-family: 'Open Sans', sans-serif;
      line-height: 2.2;

  }
li{
        list-style: none;
}
  h1, h2, h3, h4{
    font-family: 'Quicksand', sans-serif;
  }

@media (max-width: 768px){
  body{
    text-align: center;
  }
}

/* fondos background bg */

.bg-container-title{
  background-color: #f1f1f1;
}
.bg-footer{
  background-color: #f1f1f1;
}

/* navBar */
.navbar{
  margin-bottom: 20px;
  transition: background-color 400ms , box-shadow 400ms;

}
.fa-arrow-left{
display: inline;
}

.navbar-white{
background-color: #fff
}

.navbar.scrolled {
  background-color: #f4f4f4 !important;
  transition: background-color 400ms , box-shadow 400ms;
  box-shadow: 0 0 8px #888888;
}


/* Title */

.container-title{
  height: 100vh;
  width: auto;
  background-color: #fff;
}
.title-text{
padding-top: 40vh;
}
/* Trabajos */
.box-title{
  padding-bottom: 5%;
}


/* Containers */



.container-text{
  padding: 2% 15% 10%;
}

.section-container{
  padding: 3% 0;
}

.section-container-title{
  padding: 2% 0;
  text-align: center;
}

/* Heading Section */


.volver-txt{
  display: inline;
}

/* quienSoy */

.quienSoy-texto{
padding: 2% 15%;
}



.profile-img{
  width: 100%;
  padding: 5%;
}

.icon-align{
  text-align: center;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
/* Quien soy Nav tab */

  .nav {
  border-bottom: 0;
  display: inline-flex;

}

  .nav>li>a ,
  .footer-href{
    padding: 8px 8px;
  font-size: 18px;
  border: 0;
  border-bottom: 3px solid transparent;
  border-radius: 15px;
  margin-right: 10px;
  background-color: #29ca8e;
  color: #f4f4f4;
}

  .nav>li.active>a,
  .nav>li.active>a:focus,
  .nav>li.active>a:hover,
  .footer-href:hover{
  background: transparent;
  border-bottom: 3px solid #29ca8e;
  color: #000;
}


  .nav>li>a:focus,
  .nav>li>a:hover {
  background: transparent;
  border-bottom: 3px solid #29ca8e;
    color: #000;
}


.tab-pane-item {
padding: 3% 0;
}



a {
  text-decoration: none !important;
}

a,
input, button,
.form-control {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  /* color: #29ca8e; */
  color: #000;
  outline: none;

}

/* Trabajos section */
.trabajos-subtitle{
  padding-bottom: 10px;
}
.trabajo-img-each{
  padding-bottom: 4%;
  width: 96%;

}
  .trabajos-text{
    padding: 5% 0 0 ;
  }


/* Habilidades */
.inner-habilidades-container{
width: 80%;
margin-left: auto;
margin-right: auto;
}
.trabajos-padding{
  padding: 0;
}

.habilidades-icon{
padding: 5%;
width: 100%;
}



/* contacto */

/* footer de pagina */
.igAnchor:hover {
text-decoration: none;
}
.igAnchor:hover .igLogo {
color: #ddd;
    text-decoration: none;
      cursor: pointer;
}

.igAnchor:hover .ig-button{
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
.igLogo{
  font-size: 2rem;
  color: #888;
  padding-right: 1%;
}
.ig-button {
color: #888;
cursor: auto;
display: inline;
}

.bck-to-top:hover {
  text-decoration: none;
}
.bck-to-top-text:hover{
  text-decoration: none;
  color: #ddd;
    cursor: pointer;
}

.copyright{
padding-top: 1%;
}

/* Fotos */
.gallery {
  justify-content: center!important;
}
.gallery img{
  transition: 1s;
  /* padding:15px;
  width: 200px; */
}
.gallery img:hover{
  /* filter: grayscale(100%); */
transform: scale(1.05);
}



/* Signup */



.cuerpo {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle {
  margin-bottom: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}
.bottom {

  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-primary{
  background-color:#29ca8e ;
  border-style: none;
}
.form-control:focus{
  border-color: #29ca8e;
}
