/* html {
  scroll-behavior: smooth;
} */

  h1,h3{
    color:#444;
  }

  h2{
    color:#999;
  }
  h4{
      color:#666;
  }
  p,a,li{
color:#888;
font-family: 'Open Sans', sans-serif;
      line-height: 2.2;
  }

  h1, h2, h3, h4{
    font-family: 'Quicksand', sans-serif;
  }



/* fondos background bg */

.bg-container-title{
  background-color: #f1f1f1;
}
.bg-footer{
  background-color: #f1f1f1;
}

/* navBar */
.navbar{
  margin-bottom: 20px;
}
.fa-arrow-left{
display: inline;
}

.navbar-white{
background-color: #fff
}
/* Title */

.container-title{
  height: 100vh;
  width: auto;
  background-color: #fff;
}
.title-text{
padding-top: 40vh;
}
/* Trabajos */
.box-title{
  padding-bottom: 5%;
}


/* Containers */

.container{
padding-top: 3%;
padding-bottom: 3%;
}

.container-text{
  padding: 2% 15% 10%;
}

.section-container-title{
  padding: 2% 0;
  text-align: center;
}

/* Heading Section */


.volver-txt{
  display: inline;
}

/* quienSoy */




.quienSoy-texto{
padding: 2% 15%;
}
.quienSoy-icon{
  font-size: 5rem;
  padding: 3%;
}





/* Quien soy Nav tab */




  .nav {
  border-bottom: 0;
  display: inline-flex;

}

  .nav>li>a {
    padding: 8px 0;
  font-size: 18px;
  border: 0;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  margin-right: 35px;
}

  .nav>li.active>a,
  .nav>li.active>a:focus,
  .nav>li.active>a:hover {
  background: transparent;
  border-bottom: 3px solid #29ca8e;
  color: #000;
}

  .nav>li>a:focus,
  .nav>li>a:hover {
  background: transparent;
  border-bottom: 3px solid #29ca8e;
    color: #000;
}

  .tab-content {

}

.tab-pane-item {
padding: 3% 0;
}



a {
  text-decoration: none !important;
}

a,
input, button,
.form-control {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  /* color: #29ca8e; */
  color: #000;
  outline: none;

}

/* Trabajos section */
.trabajos-subtitle{
  padding-bottom: 10px;
}
.trabajo-img-each{
  padding-bottom: 4%;
  width: 96%;

}
  .trabajos-text{
    padding: 5% 0 0 ;
  }

@media (max-width: 768px){
  .trabajo-img-each{
    width: 100%;
  }
}
@media (max-width: 1024px) and (orientation: landscape){
  .trabajo-img-each{
    width: 96%;
  }
}
@media (max-width: 640px) and (orientation: landscape){
  .trabajo-img-each{
    width: 96%;
  }
}
@media (max-width: 576px){
.trabajo-img-each{
width: 96%;
}
.col-sm-6{
  width: 45%;
}
}

/* Habilidades */
.inner-habilidades-container{
width: 80%;
margin-left: auto;
margin-right: auto;
}
.trabajos-padding{
  padding: 0;
}

.habilidades-icon{
padding-bottom: 5%;
width: 500px;
}

@media(max-width: 576px){
.text-web{
  text-align: center;
}
.text-adobe{
  text-align: center;
}
.habilidades-icon{
  width: 300px;
}
}


/* contacto */

/* footer de pagina */
.igAnchor:hover {
text-decoration: none;
}
.igAnchor:hover .igLogo {
color: #ddd;
    text-decoration: none;
      cursor: pointer;
}

.igAnchor:hover .ig-button{
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
.igLogo{
  font-size: 2rem;
  color: #888;
  padding-right: 1%;
}
.ig-button {
color: #888;
cursor: auto;
display: inline;
}

/* .bck-to-top{
  color: #888;
  padding-right: 1%;
} */
.bck-to-top:hover {
  text-decoration: none;
}
.bck-to-top-text:hover{
  text-decoration: none;
  color: #ddd;
    cursor: pointer;
}

.copyright{
padding-top: 1%;
}

/* Fotos */
.gallery {
  justify-content: center!important;
}
.gallery img{
  transition: 1s;
  /* padding:15px;
  width: 200px; */
}
.gallery img:hover{
  /* filter: grayscale(100%); */
transform: scale(1.05);
}



/* Signup */


.cuerpo {
  height: 100%;
}
.cuerpo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle {
  margin-bottom: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}
.bottom {

  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
