Body{
  text-align: center;
}

  h1,h3{
    color:#444;
  }

  h2{
    color:#999;
  }
  h4{
      color:#666;
  }
  p,a{
color:#888;
font-family: 'Open Sans', sans-serif;
      line-height: 2.2;
  }

  h1, h2, h3, h4{
    font-family: 'Quicksand', sans-serif;
  }



/* fondos background bg */

.bg-blue{
  background-color: blue;
}
.bg-footer{
  background-color: red;
}

/* navBar */
.navbar{
  margin-bottom: 20px;
}
.fa-arrow-left{
display: inline;
}

.navbar-white{
background-color: #fff
}
/* Title */

.title-container{
  height: 100vh;
  width: auto;
  background-color: red;
}
.title-text{
padding-top: 40vh;
}
/* Trabajos */
.box-title{
  padding-bottom: 5%;
}


/* Containers */

.container-text{
  padding: 2% 15% 10%;
}
.quienSoy-areas-container{
padding-top: 25px;
}
@media (max-width: 576px){
.container-text{
  padding: 10% 5% 4%;
}
.quienSoy-areas-container{
padding-top: 0px;
}
}


/* Heading Section */


.volver-txt{
  display: inline;
}

/* quienSoy */

.profile-img{
  padding-top: 0%;
}


.quienSoy-texto{
padding: 2% 15%;
}
.quienSoy-icon{
  font-size: 5rem;
  padding: 3%;
}
@media (max-width: 768px){
  .quienSoy-texto{
    padding: 2% 2%;
  }
}

@media (max-width: 1024px) and (orientation: landscape){
  .profile-img{
    width: 250px;
  }
}


/* Quien soy Nav tab */




  .nav {
  border-bottom: 0;

}

  .nav>li>a {
    padding: 8px 0;
  font-size: 18px;
  border: 0;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  margin-right: 35px;
}

  .nav>li.active>a,
  .nav>li.active>a:focus,
  .nav>li.active>a:hover {
  background: transparent;
  border-bottom: 3px solid #29ca8e;
}

  .nav>li>a:focus,
  .nav>li>a:hover {
  background: transparent;
  border-bottom: 3px solid #29ca8e;
}

  .tab-content {
  margin-top: 50px;
}

.tab-pane-item {
  margin: 10% 0;
}



a {
  text-decoration: none !important;
}

a,
input, button,
.form-control {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #29ca8e;

  outline: none;

}

/* Trabajos section */
.trabajos-subtitle{
  padding-bottom: 10px;
}
.trabajo-img-each{
  padding-bottom: 4%;
  width: 96%;

}
  .trabajos-text{
    padding: 5% 0 0 ;
  }

@media (max-width: 768px){
  .trabajo-img-each{
    width: 100%;
  }
}
@media (max-width: 1024px) and (orientation: landscape){
  .trabajo-img-each{
    width: 96%;
  }
}
@media (max-width: 640px) and (orientation: landscape){
  .trabajo-img-each{
    width: 96%;
  }
}
@media (max-width: 576px){
.trabajo-img-each{
width: 96%;
}
.col-sm-6{
  width: 45%;
}
}

/* Habilidades */
.inner-habilidades-container{
width: 80%;
margin-left: auto;
margin-right: auto;
}
.trabajos-padding{
  padding: 0;
}

.habilidades-icon{
padding-bottom: 5%;
width: 500px;
}

@media(max-width: 576px){
.text-web{
  text-align: center;
}
.text-adobe{
  text-align: center;
}
.habilidades-icon{
  width: 300px;
}
}


/* contacto */

/* footer de pagina */
.igAnchor:hover {
text-decoration: none;
}
.igAnchor:hover .igLogo {
color: #ddd;
    text-decoration: none;
      cursor: pointer;
}

.igAnchor:hover .ig-button{
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
.igLogo{
  font-size: 2rem;
  color: #888;
  padding-right: 1%;
}
.ig-button {
color: #888;
cursor: auto;
display: inline;
}

/* .bck-to-top{
  color: #888;
  padding-right: 1%;
} */
.bck-to-top:hover {
  text-decoration: none;
}
.bck-to-top-text:hover{
  text-decoration: none;
  color: #ddd;
    cursor: pointer;
}

.copyright{
padding-top: 1%;
}

/* Fotos */
.gallery {
  justify-content: center!important;
}
.gallery img{
  transition: 1s;
  /* padding:15px;
  width: 200px; */
}
.gallery img:hover{
  /* filter: grayscale(100%); */
transform: scale(1.05);
}
